.board-row {
    background: url('images/line.png') no-repeat top right;
    min-height: 500px;
    height:auto;
}

.header {
    font-family: 'Rock Salt';
    font-size: 18px;
    margin: 0 30px;
    padding: 0;
}

.post-it {
    background: #fefabc;
    padding: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    color: #000;
    width: 200px;
    -webkit-transform: rotate( random(-5, 5)deg);
    -moz-transform: rotate( random(-5, 5)deg);
    -o-transform: rotate( random(-5, 5)deg);
    -ms-transform: rotate( random(-5, 5)deg);
    transform: rotate( random(-5, 5)deg);
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
    cursor: pointer;
}

.asm {
    background-color: #ff9900;
}

.dealer {
    background-color: #ffcc00;
}

.template {
    display: none;
}
.ui-tooltip {
    font-family: 'Gloria Hallelujah', cursive;
    border: none;
    padding: 0;
    opacity: 1;
    background-color: #eeeeee;
    max-width: 300px;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.right .ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #eeeeee;
    border-width: 10px 10px 10px 0;
}
.left .ui-tooltip-content::after {
    top: 18px;
    right: -10px;
    border-color: transparent #eeeeee;
    border-width: 10px 0 10px 10px;
}
.top .ui-tooltip-content::after {
    bottom: -10px;
    left: 72px;
    border-color: #eeeeee transparent;
    border-width: 10px 10px 0;    
}
.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: #eeeeee transparent;
    border-width: 0 10px 10px;
}