.label-condition {
    position: relative;
    padding-right: 16px;
}

.delete-condition {
    position: absolute;
    top: 2px;
    right: 2px;
    font-weight: bold;
    line-height: 1;
    color: red;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

    .delete-condition:hover, .delete-condition:focus {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

.label-browser {
    background-color: #eb6864;
}

.btn-browser {
    color: #ffffff;
    background-color: #eb6864;
    border-color: #eb6864;
}

    .btn-browser:hover, .btn-browser:focus, .btn-browser:active, .btn-browser.active, .open .dropdown-toggle.btn-browser {
        color: #ffffff;
        background-color: #e64540;
        border-color: #e4332e;
    }

.label-culture {
    background-color: #f57a00;
}

.btn-culture {
    color: #ffffff;
    background-color: #f57a00;
    border-color: #f57a00;
}

    .btn-culture:hover, .btn-culture:focus, .btn-culture:active, .btn-culture.active, .open .dropdown-toggle.btn-culture {
        color: #ffffff;
        background-color: #cc6600;
        border-color: #b85c00;
    }

.label-trafficDistribution {
    background-color: #22b24c;
}

.btn-trafficDistribution {
    color: #ffffff;
    background-color: #22b24c;
    border-color: #22b24c;
}

    .btn-trafficDistribution:hover, .btn-trafficDistribution:focus, .btn-trafficDistribution:active, .btn-trafficDistribution.active, .open .dropdown-toggle.btn-trafficDistribution {
        color: #ffffff;
        background-color: #1b903d;
        border-color: #187f36;
    }
    
.label-public-ip {
    background-color: #336699;
}

.btn-public-ip {
    color: #ffffff;
    background-color: #336699;
    border-color: #336699;
}

    .btn-public-ip:hover, .btn-public-ip:focus, .btn-public-ip:active, .btn-public-ip.active, .open .dropdown-toggle.btn-public-ip {
        color: #ffffff;
        background-color: #336699;
        border-color: #336688;
    }
