<div data-template="browser">
    <div class="form-group">
        <label for="team" class="col-lg-2 control-label">Browser</label>
        <div class="col-lg-10">
            <div class="input-group">
                <select class="form-control" id="browser" name="browser" data-value="browser">
                    <option value="chrome">Google Chrome</option>
                    <option value="firefox">Firefox</option>
                    <option value="ie9">Internet Explorer 9</option>
                    <option value="ie10">Internet Explorer 10</option>
                    <option value="safari">Safari</option>
                    <option value="mobile">Mobile</option>
                    <option value="strucr.com crawler">Strucr</option>
                    <option value="googlebot">Googlebot</option>
                    <option value="bingbot">Bing</option>
                    <option value="NOT:chrome">Not Google Chrome</option>
                    <option value="NOT:firefox">Not Firefox</option>
                    <option value="NOT:ie9">Not Internet Explorer 9</option>
                    <option value="NOT:ie10">Not Internet Explorer 10</option>
                    <option value="NOT:safari">Not Safari</option>
                    <option value="NOT:mobile">Not Mobile</option>
                    <option value="NOT:strucr.com crawler">Not Strucr</option>
                    <option value="NOT:googlebot">Not Googlebot</option>
                    <option value="NOT:bingbot">Not Bing</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" data-action="add" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>
