<div data-template="browser">
    <div class="form-group">
        <label for="team" class="col-lg-2 control-label">Browser</label>
        <div class="col-lg-10">
            <div class="input-group">
                <select class="form-control" id="browser" name="browser" data-value="browser">
                    <option value="chrome">Google Chrome</option>
                    <option value="firefox">Firefox</option>
                    <option value="ie9">Internet Explorer 9</option>
                    <option value="ie10">Internet Explorer 10</option>
                    <option value="safari">Safari</option>
                    <option value="mobile">Mobile</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" data-action="add" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>
