<div data-template="culture">
    <div class="form-group">
        <label for="team" class="col-lg-2 control-label">Culture</label>
        <div class="col-lg-10">
            <div class="input-group">
                <select class="form-control" id="culture" name="culture" data-value="culture">
                    <option value="de-DE">Deutsch</option>
                    <option value="de-AT">Österreichisch</option>
                    <option value="fr-FR">Französisch</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" data-action="add" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>
