<div data-template="public-ip">
    <div class="form-group">
        <label for="team" class="col-lg-2 control-label">Public IP</label>
        <div class="col-lg-10">
            <div class="input-group">
                <input type="text" class="col-lg-5" value="" name="public-ip" placeholder="127.0.0.1" data-value="public-ip" />
                <span class="input-group-btn col-lg-2">
                    <button class="btn btn-default" data-action="add" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>
