<div data-template="trafficDistribution">
    <div class="form-group">
        <label for="team" class="col-lg-2 control-label">Traffic distribution</label>
        <div class="col-lg-10">
            <div class="input-group">
                <input type="text" class="col-lg-5" value="" name="from" placeholder="from" data-value="0" />
                <input type="text" class="col-lg-5" value="" name="to" placeholder="to" data-value="1" />
                <span class="input-group-btn col-lg-2">
                    <button class="btn btn-default" data-action="add" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>
