<div id="board">
    <div data-state="In Development" class="board-row col-lg-4" data-tooltip-position="top" data-tooltip="Here are all the unreleased features">
        <h2 class="header">In development</h2>
        <div style="clear: both"></div>
    </div>
    <div data-state="Under Test" class="board-row col-lg-4" data-tooltip-position="top" data-tooltip="These features are available for a selected test group on live">
        <h2 class="header">Under test || Testgroup || Usertests</h2>
        <div style="clear: both"></div>
    </div>
    <div data-state="Released" class="board-row col-lg-4" data-tooltip-position="top" data-tooltip="All features in here are live and visible for everybody">
        <h2 class="header">Released || For all</h2>
        <div style="clear: both"></div>
    </div>
    <div data-item="template" class="template">
        <div class="post-it {{team}}">
            <strong>{{name}}</strong>
            <br>
            <small>{{team}}</small>
            <a href="{{link}}" target="_blank">read more</a><br />
            {{#each conditions}}
                        {{#each values}}
                            <span class="label label-{{../type}}">{{this}}</span>
            {{/each}}
                    {{/each}}
        </div>
    </div>
</div>
