<div id="board">
    <div data-state="In Development" class="board-row col-lg-4" data-tooltip-position="top" data-tooltip="Here are all the unreleased features">
        <h2 class="header">In Development</h2>
        <div style="clear: both"></div>
    </div>
    <div data-state="Under Test" class="board-row col-lg-3" data-tooltip-position="top" data-tooltip="These features are available for a selected test group on live">
        <h2 class="header">Released || For Testgroup</h2>
        <div style="clear: both"></div>
    </div>
    <div data-state="Released" class="board-row col-lg-3" data-tooltip-position="top" data-tooltip="All features in here are live and visible for everybody">
        <h2 class="header">Released || For All</h2>
        <div style="clear: both"></div>
    </div>
    <div data-state="Released" class="col-lg-2" data-tooltip-position="top" data-tooltip="All features in here are live and visible for everybody">
        <h2 class="header">Remove</h2>
        <div style="clear: both;">
            <img src="/Content/images/trash_bin.png" style="width: 100%; padding-top:45px;" alt="move to trash" />
        </div>
    </div>
    <div data-item="template" class="template">
        <div class="post-it {{team}}">
            <strong>{{name}}</strong>
            <br>
            <small>{{team}}</small>
            {{#if link}}
                <a href="{{link}}" target="_blank">read more</a><br />
            {{/if}}
            {{#each conditions}}
                        {{#each values}}
                            <span class="label label-{{../type}}">{{this.value}}</span>
            {{/each}}
                    {{/each}}
        </div>
    </div>
</div>
